# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/

# Static files (optional if collected)
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# ML Models (optional - if large)
*.pkl
*.joblib

# Kaggle data
*.csv
*.zip